.page_case_topimg {
  position: relative;
  background: url("../img/case/case_topimg.jpg") no-repeat center / cover;
  height: 282px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  h1 {
    color: white;
    font-size: 49px;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding-bottom: 1rem;
  }
}
.page_case_topimg > * {
  position: relative;
  z-index: 1;
}

.page_case_topimg:after {
  content: "";
  position: absolute;
  // width: 100%;
  // height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
h1.page_case_title {
  text-align: center;
  color: var(--font1);
  margin: 0;
  font-weight: bolder;
  margin-top: 2rem;
}
h1 + img {
  display: block;
  margin: auto;
  height: 4rem;
  margin-bottom: 2rem;
}

.page_case_items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .page_case_outbox {
    padding: 0.5rem;
    width: 33.33%;
    .page_case_item {
      padding: 0.5rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.4rem;
      color: var(--font1);
      border: var(--font1) solid 1px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      h4 {
        font-weight: 600;
        padding: 1rem;
        margin: 0;
      }
      p {
        padding: 0 1rem;
        margin: 0;
        line-height: 1.8rem;
      }
    }
    button {
      margin: 1.5rem 0;
      min-height: 3.2rem;
      min-width: 12rem;
    }
    .page_case_item:hover {
      background-color: aqua;
    }
  }
}

// -------------page_case_contant--------------
.page_case_contant_title {
  margin: 3rem 0;
  padding-bottom: 0.5rem;
  border-bottom: var(--font1) solid 1px;
  color: var(--font1);
  img {
    height: 4rem;
    vertical-align: baseline;
  }
}

.page_case_contant {
  color: var(--font1);
  h3 {
    text-align: center;
    margin: 1.5rem 0;
  }
  p {
    font-size: 1.4rem;
    padding: 0 0.5rem;
  }
  //輪播---------------
  .page_case_carousel {
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0.5rem;
    .page_case_carousel_big {
      width: 70%;
      padding-right: 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .page_case_carousel_small {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        height: 32%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.5);
        transition: all 0.1s linear;
      }
      img:hover {
        filter: brightness(1);
      }
    }
  }
  //輪播end----------------
  .page_case_imgs {
    display: flex;
    flex-wrap: wrap;
    img {
      padding: 1rem 0.5rem;
      width: calc(100% / 3);
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

// @meida==============

@media screen and (max-width: 991px) {
  .page_case_topimg {
    height: 180px;
  }
  .page_case_items {
    .page_case_outbox {
      width: 50%;
    }
  }
  //case_contant
  .page_case_contant {
    .page_case_carousel {
      height: auto;
      flex-direction: column;
      .page_case_carousel_big {
        padding: 0;
        width: 100%;
        margin-bottom: 1rem;
      }
      .page_case_carousel_small {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        height: 8rem;
        img {
          height: 100%;
          width: 31%;
        }
      }
    }
    .page_case_imgs {
      img {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page_case_items {
    justify-content: center;
    .page_case_outbox {
      width: 80%;
      button {
        min-height: 2.4rem;
        min-width: 8rem;
      }
    }
  }
  //case_contant
  .page_case_contant {
    .page_case_imgs {
      justify-content: center;
      img {
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .page_case_items {
    justify-content: center;
    .page_case_outbox {
      width: 100%;
    }
  }
  //case_contant
  .page_case_contant {
    .page_case_imgs {
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}
