* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --line: #b39f61;
  --font1: #5e1f28;
  --link-hover: #dcce84;
  --black: #000000;
  --grey: #ececec;
  --divcolor: #707070;
  --btn: rgba(255, 255, 255, 0.7);
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox        */
  image-rendering: -o-crisp-edges; /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: optimize-contrast; /* CSS3 Proposed  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+           */
}
//------------button--------------
button.readbtn {
  height: 3.2rem;
  width: 12rem;
  border: var(--font1) solid 1px;
  border-radius: 8px;
  color: var(--font1);
  font-size: 24px;
  background-color: var(--btn);
  transition: all 0.1s linear;
  cursor: pointer;
}
button.readbtn:hover {
  color: white;
  background-color: var(--font1);
}

button.goback {
  display: block;
  border: var(--font1) solid 1px;
  border-radius: 8px;
  height: 3rem;
  width: 9rem;
  color: var(--font1);
  font-size: 1.5rem;
  background-color: var(--btn);
  transition: all 0.1s linear;
  cursor: pointer;
  margin: 2rem auto;
}
button.goback:hover {
  color: white;
  background-color: var(--font1);
}
@media screen and (max-width: 767px) {
  button.goback {
    height: 2.4rem;
    width: 8rem;
    font-size: 18px;
  }

  button.readbtn {
    height: 2.4rem;
    width: 8rem;
    border: var(--font1) solid 1px;
    border-radius: 6px;
    color: var(--font1);
    font-size: 18px;
  }
}
//-----------button----------------

//================welcomee-start===============
// --------------header start------------------
header.header_ {
  position: sticky;
  top: 0;
  z-index: 2;
  color: var(--font1);
  background-color: #fff;
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.3);
  #toptop {
    height: 2rem;
    background-color: var(--font1);
    border-bottom: var(--line) solid 8px;
  }

  .navbar_ {
    width: 92%;
    margin: auto;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    .logo {
      width: 15rem;
      img {
        width: 100%;
        height: 100%;
        // object-fit: contain;
        object-fit: cover;
        object-position: center;
        // 為何cocer 與 contain沒有差別?
      }
    }
    .links {
      display: flex;
      flex-wrap: wrap;
      font-size: 1.4rem;
      font-weight: 400;
      align-items: flex-end;
      padding-bottom: 0.8rem;
      a {
        padding: 0 1.5rem;
        color: var(--font1);
        text-decoration: none;
        transition: color 0.15s linear;
        position: relative;
      }
      a:link {
        color: var(--font1);
        text-decoration: none;
      }
      a:visited {
        color: var(--font1);
      }
      a:hover {
        color: var(--link-hover);
      }
      a::before {
        content: "";
        background-color: var(--line);
        width: 1px;
        height: 0;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -3.8rem);
      }
      a::after {
        content: "";
        background-color: var(--line);
        border-radius: 50%;
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        display: block;
        left: 50%;
        transform: translate(-50%, -2.6rem);
      }
      a:hover::before {
        transition: all 0.17s linear;
        height: 3rem;
        //還有什麼動態方式
      }
      a:hover::after {
        width: 0.4rem;
        height: 0.4rem;
        transition: all 0.05s linear 0.2s;
      }
    }
    .community {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 0.8rem;
      i {
        cursor: pointer;
        transition: all 0.1s linear;
      }
      // i:nth-child(2)::before {
      //   font-size: 30px;
      //   vertical-align: top;
      // }
      i:hover {
        color: var(--link-hover);
      }
      i:not(:first-child) {
        margin-left: 0.7rem;
      }
    }
    .burger {
      margin: auto 0;
      font-size: 2rem;
      height: 3rem;
      display: none;
      background-color: white;
      border: var(--font1) solid 1px;
      color: var(--font1);
      box-shadow: none;
      i {
        display: block;
        margin: auto;
      }
    }
    .burger:hover {
      background-color: var(--font1);
      color: white;
    }
  }
}
@media screen and (max-width: 1550px) {
  header.header_ {
    .navbar_ {
      .links {
        a {
          padding: 0 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 1500px) {
  header.header_ {
    .navbar_ {
      .links {
        font-size: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 1320px) {
  header.header_ {
    .navbar_ {
      .logo {
        width: 12rem;
      }
      .links {
        padding-bottom: 0.5rem;
        a {
          padding: 0 0.6rem;
        }
        a::before {
          transform: translate(-50%, -3rem);
        }
        a:hover::before {
          height: 2.2rem;
        }
        a::after {
          transform: translate(-50%, -2.3rem);
        }
      }
      .community {
        padding-bottom: 0.5rem;
        font-size: 1.8rem;
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  header.header_ {
    .navbar_ {
      width: 98%;
      .links {
        padding-bottom: 0.5rem;
        font-size: 1rem;
      }
      .community {
        font-size: 1.6rem;
        i:not(:first-child) {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  header.header_ {
    .navbar_ {
      width: 90%;
      .links,
      .community {
        display: none;
      }
      .burger {
        display: block;
      }
    }
  }
}
// ------------header end----------------

// --------------burger end-----------------
.offcanvas.offcanvas-end {
  width: 300px;
}
.burger_nav {
  .close_ {
    position: absolute;
    // 為何外層不設定 relative, absolute一樣是以父元素的相對位置放置
    // position: relative;
    top: 30px;
    left: -60px;
    border-radius: 50%;
    background-color: white;
    color: var(--font1);
    transform: scale(1.5);
    height: 2rem;
    width: 2rem;
    border: var(--font1) solid 1px;
    border: none;
    transition: background-color 0.1s ease, box-shadow 0.1s ease,
      color 0.1s ease;
    //有簡寫嗎? 沒有
    i {
      display: block;
      margin: auto;
    }
  }
  .close_:hover {
    background-color: var(--link-hover);
    background-color: var(--font1);
    color: white;
    box-shadow: 0 0 0.2rem white;
  }

  .offcanvas-body {
    .links {
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      margin-left: 1.5rem;
      a {
        color: var(--font1);
        text-decoration: none;
        transition: color 0.1s linear;
        margin: 0.5rem 0;
        height: 2rem;
      }
      a:link {
        color: var(--font1);
        text-decoration: none;
      }
      a:visited {
        color: var(--font1);
      }
      a:hover {
        color: var(--link-hover);
        border-bottom: var(--link-hover) solid 4px;
      }
    }
    .community {
      font-size: 2.5rem;
      display: flex;
      margin: 1rem 0 0 1.5rem;
      color: var(--font1);
      i {
        cursor: pointer;
        transition: all 0.1s linear;
      }
      i:hover {
        color: var(--link-hover);
      }
      i:not(:first-child) {
        margin-left: 0.8rem;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .offcanvas.offcanvas-end {
    width: 50%;
  }
}
// -------------burger end-------------

// -----------carousel_area start-----------
.carousell_area {
  position: relative;
  overflow-x: hidden;
  .carousell_area_text {
    position: absolute;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 1;
    top: 30rem;
    left: 4%;
    p {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }
    p:nth-child(2) {
      font-size: 1.8rem;
      font-weight: normal;
    }
    button {
      margin-top: 0.5rem;
    }
  }
  .carousell_area_img {
    padding-bottom: 3rem;
    .imgg {
      img {
        height: 726px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    ul.slick-dots {
      li {
        margin: 0 1rem;
        button:before {
          font-size: 30px;
        }
      }
    }
  }
  // #carousell_light {
  //   height: 726px;
  //   width: 100%;
  //   object-fit: cover;
  //   object-position: center;
  //   position: absolute;
  //   top: 0;
  //   left: 30%;
  // }
}
// ----------carousel_area end---------

// ---------about_area start---------

.about_area {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0 4rem;
  .about_area_1,
  .about_area_2,
  .about_area_3,
  .about_area_4 {
    width: 50%;
    height: 539px;
  }
  .about_area_1 {
    background: url("./../img/welcome/about_pillow.jpg") no-repeat center /
      cover;
  }
  .about_area_4 {
    background: url("./../img/welcome/about_room.jpg") no-repeat center / cover;
    order: 2;
  }
  .about_area_3 {
    order: 1;
  }
  .about_area_2,
  .about_area_3 {
    background-color: var(--grey);
    .about_area_text {
      font-size: 1.5rem;
      width: 60%;
      height: 60%;
      margin: 10% auto;
      //margin-top無作用
      // background-color: #707070;

      h1 {
        color: var(--font1);
        margin-bottom: 1.5rem;
        img {
          height: 4.5rem;
          margin-right: 0.5rem;
          vertical-align: sub;
        }
      }
      p {
        line-height: 1.5;
      }
      button {
        float: right;
        position: relative;
        top: 2rem;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .about_area {
    .about_area_1,
    .about_area_2,
    .about_area_3,
    .about_area_4 {
      width: 100%;
    }
    .about_area_4 {
      order: 1;
    }
    .about_area_3 {
      order: 2;
    }
  }
}
@media screen and (max-width: 575px) {
  .about_area {
    margin: 2rem 0;
    .about_area_2,
    .about_area_3 {
      .about_area_text {
        font-size: 1.5rem;
        h1 {
          margin-bottom: 1.5rem;
          img {
            height: 3.5rem;
            margin-right: 0.5rem;
            vertical-align: sub;
          }
        }
        p {
          line-height: 1.2;
        }
        button {
          float: right;
          position: relative;
          top: 1rem;
        }
      }
    }
  }
}
// -----------about_area--------------

// -----------product_area--------------

.product_area {
  text-align: center;
  .product_area_bigimg {
    height: 518px;
    background: url("./../img/welcome/product_bigimg.jpg") no-repeat center /
      cover;
    margin-bottom: 17rem;
    .product_area_icon {
      position: relative;
      top: 25rem;
      flex-direction: column;
      text-align: center;
      p {
        font-size: 2rem;
        color: var(--font1);
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
  }

  .product_list {
    .product {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 30px;
      color: var(--font1);
      padding: 1rem;
      img {
        width: 100%;
      }
      p {
        margin: 1.5rem 0;
      }
    }
  }
  #hahah {
    margin-top: 2rem;
    padding: 1rem;
    width: fit-content;
    margin: auto;
    position: relative;
    button.slick-prev:before {
      content: url("./../welcome/img/arrow.png");
      display: block;
      rotate: 270deg;
      transform: rotate(90deg) translate(-2%, 50%);
      width: fit-content;
      // background-color: #b39f61;
    }
    button.slick-next:before {
      content: url("./../welcome/img/arrow.png");
      display: block;
      rotate: 270deg;
      transform: rotate(270deg) translate(3%, -50%);
      width: fit-content;
      // background-color: #b39f61;
    }
  }
}
@media screen and (max-width: 991px) {
  .product_area {
    .product_area_bigimg {
      height: 350px;
      margin-bottom: 14rem;
      .product_area_icon {
        top: 17rem;
        img {
          width: 10rem;
        }
        img:nth-of-type(2) {
          width: 6rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
// -------------product_area---------------

// -----------QA------------

.QA {
  position: relative;
  background: url("./../img/welcome/buttomImg.jpg") no-repeat center / cover;
  margin-top: 4rem;
  // height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 4rem 0;
  text-align: center;
  color: var(--font1);
  .QAimg {
    p {
      font-size: 3rem;
      font-weight: 600;
      color: white;
      margin-bottom: 2rem;
      text-shadow: 0.1em 0.1em 0.2em black;
    }
  }

  .question {
    width: 100%;
    .QAbox {
      margin: 1rem auto;
      width: 70%;
      background-color: var(--btn);
      padding: 0.4rem 0.6rem;
      border-radius: 5px;
      border: #707070 solid 1px;
      transition: all 0.2s ease;
      cursor: pointer;
      padding: 0.4rem 0.6rem;
      margin-bottom: 1rem;
      .Q,
      .A {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 2rem;
        span:first-child {
          align-self: flex-start;
          padding-left: 0.3rem;
          font-size: 2rem;
          text-align: start;
          width: 10%;
          // background-color: tomato;
        }
        :nth-child(2) {
          text-align: start;
          width: 80%;
          // background-color: teal;
        }
        :nth-child(3) {
          // background-color: tan;
          width: 10%;
          transition: all 0.1s linear;
        }
      }
      .A {
        span {
          display: none;
        }
      }
      hr {
        margin: 0.5rem 0;
        display: none;
      }
    }
    .QAbox.active {
      .Q {
        :nth-child(3) {
          transform: rotate(180deg);
        }
      }
      .A {
        span {
          display: inline-flex;
          // 這樣對嗎?
        }
      }
      hr {
        display: block;
      }
      // height: fit-content;
      // fit-content不納入transition的範圍內嗎?
    }
  }
}

.QA > * {
  position: relative;
  z-index: 1;
}

.QA:after {
  content: "";
  position: absolute;
  // width: 100%;
  // height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .QA {
    .question {
      .QAbox {
        width: 80%;
        .Q,
        .A {
          font-size: 1.4rem;
          line-height: 1.8rem;
          span:first-child {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .QA {
    .QAimg {
      p {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
      }
      img {
        height: 4rem;
      }
    }
    .question {
      .QAbox {
        width: 90%;
        .Q,
        .A {
          font-size: 1.2rem;
          line-height: 1.5rem;
          span:first-child {
            padding-left: 0;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .QA {
    .question {
      .QAbox {
        width: 95%;
      }
    }
  }
}
// -----QA-----

// -----footer-----
footer.footer_ {
  .contact_area {
    margin: 0.8rem auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--font1);
    .logo_ {
      display: flex;
      min-width: 16rem;
      img {
        height: 6rem;
        width: 6rem;
      }
      .icon_area {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        p {
          margin: 0;
        }
        p:nth-child(1) {
          font-size: 1.5rem;
          font-weight: 600;
        }

        p:nth-child(2) {
          font-size: 0.5rem;
        }
        p:nth-child(3) {
          font-size: 1.5rem;
          i {
            cursor: pointer;
          }
        }
      }
    }
    .contact_infor {
      p {
        margin: 0;
      }
    }
  }
  .maker_ {
    text-align: center;
    background-color: var(--font1);
    border-top: var(--line) solid 8px;
    color: #ffffff;
    line-height: 1.6rem;
    padding: 0.3rem 0;
  }
}
@media screen and (min-width: 1550px) {
  footer.footer_ {
    .contact_area {
      width: 60%;
    }
  }
}
@media screen and (min-width: 1300px) and (max-width: 1549px) {
  footer.footer_ {
    .contact_area {
      width: 75%;
    }
  }
}
@media screen and (max-width: 940px) {
  footer.footer_ {
    .contact_area {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .logo_ {
        margin-bottom: 1rem;
      }
      .contact_infor {
        margin: 1rem 0;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  footer.footer_ {
    .maker_ {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
//totop
.to-top {
  background: white;
  position: fixed;
  z-index: 10;
  bottom: 220px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--font1);
  border: var(--font1) solid 1px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  animation: floatt 2s infinite alternate-reverse ease-in-out;
}
.to-top.active:hover {
  color: var(--font1);
}
.to-top.active {
  bottom: 190px;
  pointer-events: auto;
  opacity: 1;
}

@keyframes floatt {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20%);
  }
}
@media screen and (max-width: 767px) {
  .to-top {
    width: 45px;
    height: 45px;
    font-size: 1.1rem;
  }
  .to-top.active {
    bottom: 150px;
  }
}
@media screen and (max-width: 575px) {
  .to-top {
    width: 38px;
    height: 38px;
    right: 30px;
    font-size: 1rem;
  }
  .to-top.active {
    bottom: 90px;
  }
}
// -----footer-----

// -----media-----
// Extra small (<576px)
// Small (>=576px)
// Medium (>=768px)
// Large (>=992px)
// Extra Large (>=1200px)
// XXL (>=1400px)
#overlay {
  z-index: 4;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 0.3s ease-in-out;
}
#overlay.acctive {
  opacity: 1;
  pointer-events: all;
}

#lightbox {
  // display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border: 1px solid black;
  z-index: 5;
  background-color: white;
  /* 不設背景顏色會被fixed顏色穿透? */
  img {
    // transform: scale(0);
    opacity: 0;
    // transition: 0.2s ease-in-out;
  }
}
#lightbox.acctive {
  // display: block;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
  opacity: 1;
  img {
    // transform: scale(1);
    opacity: 1;
  }
  /* transform記得全部都要再次設置，否則全部果將不會保留 */
}
@keyframes hello {
  0% {
    transform: scale(0.99);
    opacity: 0.7;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  95% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.99);
    opacity: 0.7;
  }
}
//================welcomee-end===============

//===============aboutt-start==============
//標題
.page_about_topimg {
  position: relative;
  background: url("../img/about/about_topimg.jpg") no-repeat center / cover;
  height: 282px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  h1 {
    color: white;
    font-size: 49px;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 991px) {
  .page_about_topimg {
    height: 180px;
  }
}
.page_about_topimg > * {
  position: relative;
  z-index: 1;
}

.page_about_topimg:after {
  content: "";
  position: absolute;
  // width: 100%;
  // height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.page_about_title {
  padding-top: 2rem;
  h1 {
    color: var(--font1);
    margin: 0;
    img {
      margin-right: 1rem;
      height: 3rem;
    }
  }
}
//標題

//中間
.about_wrap {
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  line-height: 2rem;
  margin-bottom: 1rem;
  .row {
    // background-color: salmon;
    display: flex;
    padding: 1rem;
    height: 400px;
    .pic,
    .text {
      padding: 0;
      height: 100%;
    }
    .pic {
      width: 40%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .text {
      margin: 1rem 0;
      padding: 0 0 0 2rem;
      height: calc(100% - 2rem);
      width: 60%;
      overflow-y: scroll;
      p {
        margin: 0;
      }
    }
  }

  .row:nth-child(even) {
    // background-color: teal;
    .pic {
      order: 2;
    }
    .text {
      order: 1;
      padding: 0 1rem 0 0;
      p {
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .about_wrap {
    font-size: 1.3em;
    line-height: 1.7rem;
    .row {
      height: auto;
      flex-direction: column;
      height: fit-content;
      margin: 0;
      padding: 1rem;
      .pic {
        width: 100%;
        height: 50vh;
      }
      .text {
        margin: 1rem 0 0 0;
        padding: 0;
        height: auto;
        width: 100%;
        overflow-y: initial;
      }
    }
    .row:nth-child(even) {
      .pic {
        order: 1;
      }
      .text {
        order: 2;
        padding: 0;
        p {
          padding: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .about_wrap {
    .row {
      .text {
        min-height: 15rem;
      }
    }
  }
}
//-------------------html編輯區-------------
.htmledit {
  font-size: 1.6em;
  line-height: 2rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
@media screen and (max-width: 991px) {
  .htmledit {
    font-size: 1.3em;
    line-height: 1.7rem;
    padding: 1rem;
    width: 100%;
  }
}
//===============aboutt-end==============

//============servicee-start============
//---------------標題start----------------
.page_service_topimg {
  position: relative;
  background: url("../img/service/service_topimg.jpg") no-repeat center / cover;
  height: 282px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  h1 {
    color: white;
    font-size: 49px;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding-bottom: 1rem;
  }
}
.page_service_topimg > * {
  position: relative;
  z-index: 1;
}

.page_service_topimg:after {
  content: "";
  position: absolute;
  // width: 100%;
  // height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .page_service_topimg {
    height: 180px;
  }
}
//--------------------標題end------------------

//-----------------服務項目start-----------------
.page_service_title {
  padding: 2rem 0;
  color: var(--font1);
  h1 {
    color: var(--font1);
    img {
      margin-right: 1rem;
      height: 4rem;
      vertical-align: baseline;
    }
  }
}

.page_service_item {
  margin: 0 auto 1rem;
  display: flex;
  background-color: var(--grey);
  img {
    padding: 1rem;
  }
  div {
    padding: 2rem 1.5rem;
  }
  button {
    float: right;
    position: relative;
    top: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .page_service_item {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      flex-direction: column;
    }
    button {
      align-self: flex-end;
    }
  }
}
//------------------服務項目end-----------------

//------------------服務項目子頁start---------------
.page_service_product {
  font-size: 1.6em;
  line-height: 2rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .page_service_product {
    font-size: 1.2em;
    line-height: 1.5rem;
  }
}
//----------------服務項目子頁end---------------
//============servicee-end============

//============productt-start============
//---------------標題start----------------
.page_product_topimg {
  position: relative;
  background: url("../img/product/product_topimg.jpg") no-repeat center / cover;
  height: 282px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  h1 {
    color: white;
    font-size: 49px;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding-bottom: 0.5rem;
  }
}
.page_product_topimg > * {
  position: relative;
  z-index: 1;
}
.page_product_topimg:after {
  content: "";
  position: absolute;
  // width: 100%;
  // height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .page_product_topimg {
    height: 180px;
  }
}
//--------------標題end------------

//---------------產品start-------------
.page_product_area {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  .page_product_types {
    display: flex;
    justify-content: space-evenly;
    .nav-item {
      margin: 0 1rem;
      .nav-link {
        text-align: center;
        background-color: var(--btn);
        border: var(--font1) solid 1px;
        color: var(--font1);
        transition: all 0.2s ease;
        margin: 0.5rem;
      }
      .nav-link.active {
        color: white;
        background-color: var(--font1);
      }
    }
  }
  .tab-content {
    width: 90%;
    margin-top: 2rem;
    .items_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      .items {
        width: 33.33%;
        text-align: center;
        img {
          width: 90%;
          object-fit: cover;
          object-position: center;
        }
        h3 {
          margin: 1rem 0;
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .page_product_area {
    .tab-content {
      .items_list {
        .items {
          width: 33.33%;
          img {
            width: 80%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .page_product_area {
    .tab-content {
      .items_list {
        .items {
          width: 50%;
          img {
            width: 75%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .page_product_area {
    .page_product_types {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: aqua;
      .nav-item {
        text-align: center;
        width: 60%;
        a.nav-link {
          margin: 0;
        }
      }
    }

    .tab-content {
      .items_list {
        justify-content: center;
        .items {
          width: 80%;
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .page_product_area {
    .page_product_types {
      .nav-item {
        width: 80%;
      }
    }
    .tab-content {
      .items_list {
        .items {
          width: 100%;
        }
      }
    }
  }
}
//-------------產品-end-------------
//==========productt-end==========

//=============casee-start==================
//--------------實際案例主頁start--------------
.page_case_topimg {
  position: relative;
  background: url("../img/case/case_topimg.jpg") no-repeat center / cover;
  height: 282px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  h1 {
    color: white;
    font-size: 49px;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding-bottom: 1rem;
  }
}
.page_case_topimg > * {
  position: relative;
  z-index: 1;
}

.page_case_topimg:after {
  content: "";
  position: absolute;
  // width: 100%;
  // height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .page_case_topimg {
    height: 180px;
  }
}
//---------------標題------------

//--------------中間-------------
h1.page_case_title {
  text-align: center;
  color: var(--font1);
  margin: 0;
  font-weight: bolder;
  margin-top: 2rem;
}
h1 + img {
  display: block;
  margin: auto;
  height: 4rem;
  margin-bottom: 2rem;
}
.page_case_items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .page_case_outbox {
    padding: 0.5rem;
    width: 33.33%;
    .page_case_item {
      position: relative;
      height: 35rem;
      padding: 0.5rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.4rem;
      color: var(--font1);
      border: var(--font1) solid 1px;
      img {
        width: 100%;
        height: 40%;
        object-fit: cover;
        object-position: center;
      }
      h4 {
        font-weight: 600;
        padding: 1rem;
        margin: 0;
      }
      p {
        height: 33%;
        overflow-x: scroll;
        padding: 0 1rem;
        margin: 0;
        line-height: 1.8rem;
      }
    }
    button {
      position: absolute;
      bottom: 1.5rem;
      // margin: 1.5rem 0;
      min-height: 3.2rem;
      min-width: 12rem;
    }
    .page_case_item:hover {
      // background-color: aqua;
    }
  }
}
@media screen and (max-width: 1199px) {
  .page_case_items {
    .page_case_outbox {
      .page_case_item {
        font-size: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .page_case_items {
    .page_case_outbox {
      width: 50%;
      .page_case_item {
        height: 35rem;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .page_case_items {
    justify-content: center;
    .page_case_outbox {
      width: 50%;
      .page_case_item {
        height: 35rem;
        font-size: 1rem;
        p {
          height: 45%;
        }
        img {
          height: 30%;
        }
      }
      button {
        min-height: 2.4rem;
        min-width: 8rem;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .page_case_items {
    justify-content: center;
    .page_case_outbox {
      width: 100%;
      .page_case_item {
        height: auto;
        font-size: 1rem;
        p {
          height: auto;
        }
        button {
          position: initial;
          margin-top: 1rem;
        }
      }
    }
  }
}
//-------------實際案例主頁end-------------

//-------------實際案例內頁start------------
.page_case_contant_title {
  margin: 3rem 0;
  padding-bottom: 0.5rem;
  border-bottom: var(--font1) solid 1px;
  color: var(--font1);
  img {
    height: 4rem;
    vertical-align: baseline;
  }
}
.page_case_contant {
  color: var(--font1);
  h3 {
    text-align: center;
    margin: 1.5rem 0;
  }
  p {
    font-size: 1.4rem;
    padding: 0 0.5rem;
  }
  //輪播---------------
  .page_case_carousel {
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0.5rem;
    .page_case_carousel_big {
      width: 70%;
      padding-right: 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .page_case_carousel_small {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        height: 32%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.5);
        transition: all 0.1s linear;
      }
      img:hover {
        filter: brightness(1);
      }
    }
  }
  //輪播end----------------
  .page_case_imgs {
    display: flex;
    flex-wrap: wrap;
    img {
      padding: 1rem 0.5rem;
      width: calc(100% / 3);
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media screen and (max-width: 991px) {
  .page_case_contant {
    .page_case_carousel {
      height: auto;
      flex-direction: column;
      .page_case_carousel_big {
        padding: 0;
        width: 100%;
        margin-bottom: 1rem;
      }
      .page_case_carousel_small {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        height: 8rem;
        img {
          height: 100%;
          width: 31%;
        }
      }
    }
    .page_case_imgs {
      img {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .page_case_contant {
    .page_case_imgs {
      justify-content: center;
      img {
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .page_case_contant {
    .page_case_imgs {
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}
//-------------實際案例內頁end-------------
//=============casee-end==================

//=============qaa-start==================
//------------標題start-----------
.page_qa_topimg {
  position: relative;
  background: url("../img/QA/qa_topimg.jpg") no-repeat center / cover;
  height: 282px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  h1 {
    color: white;
    font-size: 49px;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding-bottom: 1rem;
  }
}
.page_qa_topimg > * {
  position: relative;
  z-index: 1;
}

.page_qa_topimg:after {
  content: "";
  position: absolute;
  // width: 100%;
  // height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .page_qa_topimg {
    height: 180px;
  }
}
//-----------標題end-----------

//-------------QA start------------
.page_qa {
  margin-top: 3rem;
  // background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--font1);
  padding: 3rem 0;
  .qaimg {
    p {
      font-size: 2rem;
      font-weight: 600;
    }
    img {
      height: 4rem;
    }
  }

  .question {
    width: 100%;
    .qabox {
      margin: 1rem auto;
      width: 70%;
      background-color: var(--btn);
      border-radius: 5px;
      border: #707070 solid 1px;
      transition: all 0.2s ease;
      cursor: pointer;
      padding: 0.4rem 0.6rem;
      margin-bottom: 1rem;
      .Q,
      .A {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 2rem;
        span:first-child {
          align-self: flex-start;
          padding-left: 0.3rem;
          font-size: 2rem;
          text-align: start;
          width: 15%;
          // background-color: tomato;
        }
        :nth-child(2) {
          text-align: start;
          width: 75%;
          // background-color: teal;
        }
        :nth-child(3) {
          // background-color: tan;
          font-size: 3rem;
          width: 10%;
          transition: all 0.1s linear;
        }
      }
      .A {
        span {
          display: none;
        }
      }
      hr {
        margin: 0.5rem 0;
        display: none;
      }
    }
    .qabox.active {
      .Q {
        :nth-child(3) {
          transform: rotate(180deg);
        }
      }
      .A {
        span {
          display: inline-flex;
          // 這樣對嗎?
        }
      }
      hr {
        display: block;
      }
      // height: fit-content;
      // fit-content不納入transition的範圍內嗎?
    }
  }
}
@media screen and (max-width: 991px) {
  .page_qa {
    .question {
      .qabox {
        width: 80%;
        .Q,
        .A {
          font-size: 1.4rem;
          line-height: 1.8rem;
          span:first-child {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .page_qa {
    .qaimg {
      p {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
      }
      img {
        height: 4rem;
      }
    }
    .question {
      .qabox {
        width: 90%;
        .Q,
        .A {
          font-size: 1.2rem;
          line-height: 1.5rem;
          span:first-child {
            padding-left: 0;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .page_qa {
    .question {
      .qabox {
        width: 95%;
      }
    }
  }
}
//--------------QA-end-----------
//============qaa-end==============

//============placee-start===========
//-----------標題start---------
.page_place_topimg {
  position: relative;
  background: url("../img/place/place_topimg.jpg") no-repeat center / cover;
  height: 282px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  h1 {
    color: white;
    font-size: 49px;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding-bottom: 1rem;
  }
}
.page_place_topimg > * {
  position: relative;
  z-index: 1;
}

.page_place_topimg:after {
  content: "";
  position: absolute;
  // width: 100%;
  // height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .page_place_topimg {
    height: 180px;
  }
}
//------------標題end------------

//----------地點start--------------
.places {
  display: flex;
  margin: 2.4rem 0;
  justify-content: center;
  color: var(--font1);
  // 此margin是為了剛好使總高度符合 100vh
  // 有辦法設定總高度 100vh嗎?
  .frt_place,
  .sec_place {
    border: var(--font1) solid 1px;
    border-radius: 8px;
    margin: 1rem;
    width: 40%;
    padding: 1rem;
    h2 {
      text-align: center;
      font-weight: bolder;
    }
    hr {
      background-color: var(--font1);
      height: 1px;
      border: none;
    }
    div {
      display: flex;
      align-items: center;
    }
    p,
    i {
      font-size: 1.3rem;
      padding-left: 1.5rem;
      line-height: 1.8rem;
    }
    p {
      position: relative;
      top: 0.5rem;
    }
  }
}
@media screen and (max-width: 991px) {
  .places {
    flex-direction: column;
    align-items: center;
    .frt_place,
    .sec_place {
      width: 80%;
    }
  }
}
@media screen and (max-width: 575px) {
  .places {
    .frt_place,
    .sec_place {
      div {
        flex-direction: column;
        justify-content: start;
        margin-bottom: 0.5rem;
      }
      i {
        padding: 0;
      }
      p {
        position: static;
        margin: 0;
        padding: 0 2rem;
      }
    }
  }
}
//-------------地點end-----------
//=============placee-end=================

//=============contractt-start=================
//--------------標題start------------
.page_contract_topimg {
  position: relative;
  background: url("../img/contract/contract-topimg.jpg") no-repeat center /
    cover;
  height: 282px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  h1 {
    color: white;
    font-size: 49px;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding-bottom: 1rem;
  }
}
.page_contract_topimg > * {
  position: relative;
  z-index: 1;
}

.page_contract_topimg:after {
  content: "";
  position: absolute;
  // width: 100%;
  // height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .page_contract_topimg {
    height: 180px;
  }
}
//------------標題end-------------

//-------------表單start------------
.contract {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--font1);
  align-items: center;
  > p {
    font-size: 1.4rem;
    margin: 2.5rem 0;
    line-height: 1.8rem;
  }
  .form_box {
    width: 100%;
    display: flex;
    justify-content: center;
    .form_input,
    .form_img {
      border-radius: 8px;
      width: 40%;
      max-width: 25rem;
      height: 30rem;
    }
    .form_img {
      margin-right: 1rem;
      background: url("../img/contract/contract-left.jpg") no-repeat center /
        cover;
    }
    .form_input {
      margin-left: 1rem;
      form {
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          margin: 0;
          font-size: 1.2rem;
          padding: 0.4rem 0;
        }
        textarea,
        input {
          border: var(--divcolor) solid 1px;
          border-radius: 5px;
          color: var(--font1);
        }
        input {
          font-size: 1.5rem;
          line-height: 2.2rem;
          padding: 0 0.5rem;
        }
        textarea {
          line-height: 1.8rem;
          font-size: 1.3rem;
          padding: 0.5rem;
          resize: none;
        }
      }
    }
  }
  .not_robot {
    background: url("../img/contract/not_robot.jpg") no-repeat center / cover;
    width: 20rem;
    height: 5rem;
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 991px) {
  .contract {
    .form_box {
      // justify-content: space-between;
      .form_input,
      .form_img {
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .contract {
    > p {
      width: 80%;
    }
    .form_box {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .form_input,
      .form_img {
        margin: 0;
        width: 80%;
        max-width: 80%;
      }
      .form_img {
        height: 15rem;
      }
    }
  }
}
//---------------表單end------------
//=============contractt-end=================
