.page_qa_topimg {
  position: relative;
  background: url("../img/QA/qa_topimg.jpg") no-repeat center / cover;
  height: 282px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  h1 {
    color: white;
    font-size: 49px;
    text-shadow: 0.1em 0.1em 0.2em black;
    padding-bottom: 1rem;
  }
}
.page_qa_topimg > * {
  position: relative;
  z-index: 1;
}

.page_qa_topimg:after {
  content: "";
  position: absolute;
  // width: 100%;
  // height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.page_qa {
  margin-top: 3rem;
  // background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--font1);
  padding: 3rem 0;
  .qaimg {
    p {
      font-size: 2rem;
      font-weight: 600;
    }
    img {
      height: 4rem;
    }
  }

  .question {
    width: 100%;
    .qabox {
      margin: 1rem auto;
      width: 70%;
      background-color: var(--btn);
      border-radius: 5px;
      border: #707070 solid 1px;
      transition: all 0.2s ease;
      cursor: pointer;
      padding: 0.4rem 0.6rem;
      margin-bottom: 1rem;
      .Q,
      .A {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 2rem;
        span:first-child {
          align-self: flex-start;
          padding-left: 0.3rem;
          font-size: 2rem;
          text-align: start;
          width: 15%;
          // background-color: tomato;
        }
        :nth-child(2) {
          text-align: start;
          width: 75%;
          // background-color: teal;
        }
        :nth-child(3) {
          // background-color: tan;
          font-size: 3rem;
          width: 10%;
          transition: all 0.1s linear;
        }
      }
      .A {
        span {
          display: none;
        }
      }
      hr {
        margin: 0.5rem 0;
        display: none;
      }
    }
    .qabox.active {
      .Q {
        :nth-child(3) {
          transform: rotate(180deg);
        }
      }
      .A {
        span {
          display: inline-flex;
          // 這樣對嗎?
        }
      }
      hr {
        display: block;
      }
      // height: fit-content;
      // fit-content不納入transition的範圍內嗎?
    }
  }
}
@media screen and (max-width: 991px) {
  .page_qa_topimg {
    height: 180px;
  }
  .page_qa {
    .question {
      .qabox {
        width: 80%;
        .Q,
        .A {
          font-size: 1.4rem;
          line-height: 1.8rem;
          span:first-child {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .page_qa {
    .qaimg {
      p {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
      }
      img {
        height: 4rem;
      }
    }
    .question {
      .qabox {
        width: 90%;
        .Q,
        .A {
          font-size: 1.2rem;
          line-height: 1.5rem;
          span:first-child {
            padding-left: 0;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .page_qa {
    .question {
      .qabox {
        width: 95%;
      }
    }
  }
}
