.page_service_topimg {
  background: url("../img/service/service_topimg.jpg") no-repeat center / cover;
  height: 282px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    font-size: 49px;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
}
.page_service_title {
  padding: 2rem 0;
  color: var(--font1);
  h1 {
    color: var(--font1);
    img {
      margin-right: 1rem;
      height: 4rem;
      vertical-align: baseline;
    }
  }
}

.page_service_item {
  margin: 0 auto 1rem;
  display: flex;
  background-color: var(--grey);
  img {
    padding: 1rem;
  }
  div {
    padding: 2rem 1.5rem;
  }
  button {
    float: right;
    position: relative;
    top: 1rem;
  }
}

.page_service_product {
  img {
    width: 100%;
    height: 500px;
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
