@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(0deg, rgb(0, 38, 114), rgb(0, 85, 131));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.out-block {
  width: 35%;
  overflow: hidden;
  height: 100%;
  min-width: 450px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
//header start
section.headerr {
  height: 6rem;
  //---------------height-------------
  width: 100%;
  background-image: url("./切版素材/header/header_bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    display: block;
    object-fit: contain;
    width: 5rem;
    margin-left: 1rem;
  }
  button#login {
    cursor: pointer;
    background-color: rgb(8, 38, 139);
    background-image: linear-gradient(
      180deg,
      rgb(56, 96, 227) 3%,
      rgb(8, 38, 139) 10%,
      rgb(3, 25, 100) 50%,
      rgb(0, 21, 84) 80%,
      rgb(24, 53, 148) 95%
    );
    border-style: none;
    border-radius: 2rem;
    color: white;
    height: 3rem;
    width: 7rem;
    font-size: 1.6rem;
    text-align: center;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.9);
  }
  button#menu {
    cursor: pointer;
    background-color: rgb(8, 38, 139);
    background-image: linear-gradient(
        180deg,
        rgba(230, 230, 230, 0.1) 3%,
        rgba(143, 143, 143, 0.1) 10%,
        rgba(86, 86, 86, 0.1) 50%,
        rgba(85, 85, 85, 0.1) 80%,
        rgba(150, 150, 150, 0.1) 95%
      ),
      url("./切版素材/header/header_bg.jpg");
    border-style: none;
    border-radius: 10px;
    color: white;
    height: 3rem;
    width: 5rem;
    margin: auto 1rem;
    font-size: 2rem;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.9);
  }
  section.navbarr {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(100vh - 6rem);
    // height: 100vh;
    top: 6rem;
    // top: 0;
    right: -50%;
    padding: 2rem;
    z-index: 5;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
    .account {
      color: white;
      margin: 1rem 0;
      h1 {
        font-size: 2rem;
        i {
          font-size: 1.5rem;
        }
      }
    }
    hr {
      //   color: #fff;
      border: 2px solid #fff;
      background-color: #fff;
    }
    .linkk {
      font-style: italic;
      display: flex;
      flex-direction: column;
      font-size: larger;
      a {
        margin: 1rem 0;
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: goldenrod;
      }
    }
    #logout {
      position: absolute;
      cursor: pointer;
      background-image: linear-gradient(
        180deg,
        rgb(227, 93, 56) 3%,
        rgb(139, 15, 8) 10%,
        rgb(100, 16, 3) 50%,
        rgb(84, 7, 0) 80%,
        rgb(148, 38, 24) 95%
      );
      border-style: none;
      border-radius: 2rem;
      color: white;
      height: 3rem;
      width: 7rem;
      font-size: 1.6rem;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10rem;
    }
  }
  section.active {
    right: 0;
    opacity: 1;
  }
}
//header end
//account imfor start

section.user {
  height: 4%;
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 66, 1) 0%,
    rgba(0, 23, 119, 1) 30%,
    rgba(0, 29, 148, 1) 50%,
    rgba(0, 23, 119, 1) 70%,
    rgba(0, 0, 66, 1) 100%
  );
  //   border: solid 1px #8a6101;
  #username,
  #usermoney {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    color: #fff;
  }
  #usermoney {
    span {
      color: gold;
    }
  }
}

//account imfor end
//輪播區start
section.slide-frame {
  height: 25%;
  //---------------height 35%-------------
  width: 100%;
  position: relative;
  overflow: hidden;
  i {
    position: absolute;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    line-height: 3rem;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 3;
  }
  i.arrow_left {
    transform: translateY(-50%);
    top: 50%;
    left: 10px;
  }
  i.arrow_right {
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
  }
  .slide-images {
    width: 500%;
    display: flex;
    height: 100%;
    input {
      display: none;
    }
    .img-container {
      width: 20%;
      transition: 0.8s;
      img {
        height: 100%;
        width: 100%;
        object-position: 50% 50%;
        object-fit: cover;
      }
    }
  }
  .pointer {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    .point {
      background-color: white;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin: 0 8px;
      transition: 0.3s linear;
    }
    .point:hover {
      cursor: pointer;
      box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.8);
      background-color: rgb(24, 57, 100);
    }
  }
}
#r1[checked] ~ .s1 {
  margin-left: 0;
}
#r2[checked] ~ .s1 {
  margin-left: -20%;
}
#r3[checked] ~ .s1 {
  margin-left: -40%;
}
#r4[checked] ~ .s1 {
  margin-left: -60%;
}
#r5[checked] ~ .s1 {
  margin-left: -80%;
}
//輪播區end

//分數區start
section.score {
  height: 4%;
  //---------------height 39%-------------
  width: 100%;
  display: flex;
  background-image: url("./切版素材/footer/jp_bg.jpg");
  .score1,
  .score2 {
    font-size: 1.2rem;
    border: solid 1px #8a6101;
    line-height: 2rem;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    span:first-child {
      color: #8a6101;
    }
    span:nth-child(2) {
      color: #781a1a;
    }
  }
}
//分數區end

//中間區start
section.game {
  height: 15%;
  display: flex;
  background-color: #000000;
  .rr {
    // background-color: #781a1a;
    margin: auto;
    height: 120px;
    img {
      height: 120px;
    }
  }
  .rrr {
    // background-color: #8a6101;
    display: flex;
    button {
      //botton font-size不繼承父層?
      font-size: 1.2rem;
      color: #fff;
      border-style: none;
      background-color: transparent;
      div {
        height: 110px;
        overflow: hidden;
        img {
          height: 110px;
        }
      }
      p {
      }
    }
    button + button {
      border: 1px solid transparent;
      border-width: 0 0 0 1px;
      border-image: linear-gradient(
        180deg,
        rgba(218, 234, 245, 0) 20%,
        rgba(218, 234, 245, 0.8) 50%,
        rgba(249, 145, 189, 0) 80%
      );
      border-image-slice: 1;
      //尚未弄懂border-image-slice
    }
    button:hover {
      background-color: rgba(218, 234, 245, 0.2);
    }
  }
  // background-color: black;
}
//中間區end

//九宮格start
section.features {
  //   min-height: max-content;
  max-height: 50%;
  width: 100%;
  //---------------height 90%-------------
  background-image: url("./切版素材/layout/bg_index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  grid-template-rows: repeat(3, minmax(min-content, 1fr));
  grid-gap: 0.5rem 0.5rem;
  justify-items: center;
  align-items: center;
  padding: 1rem 1rem;
  overflow: scroll;
  .feature {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    // color: transparent;
    img {
      display: block;
      width: 100%;
      height: 100%;
      margin: auto;
    }
    img:hover {
      //   filter: brightness(0.4);
    }
  }
  //   .feature:hover {
  //       color: #fff;
  //   }
  //   .feature:hover::before {
  //     background-image: linear-gradient(
  //       90deg,
  //       rgba(227, 93, 56, 0) 10%,
  //       rgb(181, 9, 0) 25%,
  //       rgb(181, 9, 0) 75%,
  //       rgba(227, 93, 56, 0) 90%
  //     );
  //     bottom: 40%;
  //   }
}
.feature.login_ {
  img {
    //放img不行
  }
  filter: brightness(0.4);
  //   filter濾鏡效果
}
.feature.login_::before {
  content: "敬請期待";
  //字體置中尚未處理
  width: 100%;
  height: 20%;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900s;
  // background-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(227, 93, 56, 0) 10%,
    rgb(181, 9, 0) 25%,
    rgb(181, 9, 0) 75%,
    rgba(227, 93, 56, 0) 90%
  );
  position: absolute;
  bottom: 40%;
  transition: all 0.3s ease;
  color: #fff;
}

section.features::-webkit-scrollbar {
  display: none;
}
//九宮格end

//footer start
section.footer {
  position: relative;
  height: 8%;
  //---------------height 100%-------------
  width: 100%;
  display: flex;
  color: white;
  justify-content: space-around;
  background-image: linear-gradient(
    180deg,
    rgb(2, 104, 173) 0%,
    rgb(0, 34, 155) 100%
  );
  div {
    width: 30%;
    text-align: center;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    //待調整
    cursor: pointer;
  }
  img {
    width: 100%;
    position: absolute;
    object-fit: cover;
  }
}

//footer end

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  z-index: 10;
  background-color: white;
  /* 不設背景顏色會被fixed顏色穿透? */
  width: 500px;
  max-width: 80%;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
  text-align: center;
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    .title {
      font-size: 1.5rem;
    }
    button.close-button {
      width: 2rem;
      line-height: 2rem;
      font-size: 2rem;
    }
  }
  .modal-body {
    padding: 10px 15px;
    font-size: 2rem;
  }
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
  /* transform記得全部都要再次設置，否則全部果將不會保留 */
}

#overlay {
  z-index: 4;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 0.3s ease-in-out;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#tip {
  position: absolute;
  width: 200px;
  height: 600px;
  background-color: #fff;
}
