.page_About_topimg {
  background-image: url("../img/about/about_topimg.jpg");
  height: 282px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: white;
    font-size: 49px;
  }
}
