.page_about_topimg {
  position: relative;
  background: url("../img/about/about_topimg.jpg") no-repeat center/cover;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_about_topimg h1 {
  color: white;
  font-size: 49px;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding-bottom: 1rem;
}

.page_about_topimg > * {
  position: relative;
  z-index: 1;
}

.page_about_topimg:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.page_about_title {
  padding-top: 2rem;
}

.page_about_title h1 {
  color: var(--font1);
  margin: 0;
}

.page_about_title h1 img {
  margin-right: 1rem;
  height: 3rem;
}

.about_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6em;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.about_wrap .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  height: 400px;
}

.about_wrap .row .pic,
.about_wrap .row .text {
  padding: 0;
  height: 100%;
}

.about_wrap .row .pic {
  width: 40%;
}

.about_wrap .row .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about_wrap .row .text {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
  height: calc(100% - 2rem);
  width: 60%;
  overflow-y: scroll;
}

.about_wrap .row .text p {
  margin: 0;
}

.about_wrap .row:nth-child(even) .pic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about_wrap .row:nth-child(even) .text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 1rem 0 0;
}

.htmledit {
  font-size: 1.6em;
  line-height: 2rem;
}

.htmledit img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 991px) {
  .page_about_topimg {
    height: 180px;
  }
  .about_wrap {
    font-size: 1.3em;
    line-height: 1.7rem;
  }
  .about_wrap .row {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 1rem;
  }
  .about_wrap .row .pic {
    width: 100%;
    height: 50vh;
  }
  .about_wrap .row .text {
    margin: 1rem 0 0 0;
    padding: 0;
    height: auto;
    width: 100%;
    overflow-y: initial;
  }
  .about_wrap .row:nth-child(even) .pic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about_wrap .row:nth-child(even) .text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
  .about_wrap .row:nth-child(even) .text p {
    padding: 0;
  }
  .htmledit {
    font-size: 1.3em;
    line-height: 1.7rem;
    padding: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .about_wrap .row .text {
    min-height: 15rem;
  }
}
