.page_case_topimg {
  background: url("../img/case/case_topimg.jpg") no-repeat center/cover;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_case_topimg h1 {
  color: white;
  font-size: 49px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.case > h1 {
  padding: 2rem 0;
  color: var(--font1);
  border-bottom: var(--font1) solid 1px;
}

.case > h1 img {
  margin-right: 1rem;
  height: 4rem;
  vertical-align: baseline;
}

.page_case_topitem {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page_case_topitem div {
  width: 60%;
  padding-right: 1rem;
}

.page_case_topitem img {
  width: 40%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.page_case_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page_case_items .page_case_item {
  margin: auto;
  margin-bottom: 1rem;
  width: 30%;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

.page_case_items .page_case_item img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.page_case_items .page_case_item:hover {
  background-color: aqua;
}

.page_case_contant .page_case_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.page_case_contant .page_case_carousel .page_case_carousel_big {
  width: 70%;
}

.page_case_contant .page_case_carousel .page_case_carousel_big img {
  width: 98%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.page_case_contant .page_case_carousel .page_case_carousel_small {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_case_contant .page_case_carousel .page_case_carousel_small img {
  height: 32%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.page_case_contant .page_case_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page_case_contant .page_case_imgs img {
  margin: auto;
  margin-bottom: 1rem;
  width: 30%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
