@charset "UTF-8";
@import url(../css/about.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --line: #b39f61;
  --font1: #5e1f28;
  --link-hover: #dcce84;
  --black: #000000;
  --grey: #ececec;
  --divcolor: #707070;
  --btn: rgba(255, 255, 255, 0.7);
}

body {
  width: 100%;
}

button.readbtn {
  border: var(--font1) solid 1px;
  border-radius: 8px;
  height: 35px;
  width: 189px;
  color: var(--font1);
  font-size: 24px;
  background-color: var(--btn);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

button.readbtn:hover {
  color: white;
  background-color: var(--font1);
}

header.header_ {
  color: var(--font1);
  width: 100%;
}

header.header_ #toptop {
  height: 2rem;
  background-color: var(--font1);
  border-bottom: var(--line) solid 10px;
}

header.header_ .navbar_ {
  width: 90%;
  margin: auto;
  padding: 0.8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.header_ .navbar_ .logo {
  min-width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header_ .navbar_ .logo img {
  height: 7rem;
  width: 7rem;
}

header.header_ .navbar_ .logo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5rem;
}

header.header_ .navbar_ .logo div p:first-of-type {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

header.header_ .navbar_ .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 0.5rem;
}

header.header_ .navbar_ .links a {
  margin: 0 1rem;
  color: var(--font1);
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  height: 2rem;
}

header.header_ .navbar_ .links a:link {
  color: var(--font1);
  text-decoration: none;
}

header.header_ .navbar_ .links a:visited {
  color: var(--font1);
}

header.header_ .navbar_ .links a:hover {
  color: var(--link-hover);
  border-bottom: var(--link-hover) solid 4px;
}

header.header_ .navbar_ .community {
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 1rem;
}

header.header_ .navbar_ .community i {
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

header.header_ .navbar_ .community i:hover {
  color: var(--link-hover);
}

header.header_ .navbar_ .community i:not(:first-child) {
  margin-left: 0.8rem;
}

.carousel_area {
  color: white;
  font-size: 3rem;
  text-shadow: 0.1em 0.1em 0.2em black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
  background: url("./../img/LINE_ALBUM_茶葉桌巾形象照_211229_11.jpg") no-repeat 50% 50%/cover;
}

.carousel_area p {
  margin: 1.5rem;
}

.carousel_area button {
  margin: 1rem;
  background-color: var(--btn);
}

.about_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 4rem 0;
}

.about_area .about_area_1,
.about_area .about_area_2,
.about_area .about_area_3,
.about_area .about_area_4 {
  width: 50%;
  height: 539px;
}

.about_area .about_area_1 {
  background-image: url("./../img/about枕頭.jpg");
}

.about_area .about_area_4 {
  background-image: url("./../img/about客廳.jpg");
}

.about_area .about_area_2,
.about_area .about_area_3 {
  background-color: var(--grey);
}

.about_area .about_area_2 .about_area_text,
.about_area .about_area_3 .about_area_text {
  font-size: 1.5rem;
  width: 60%;
  height: 60%;
  margin: 10% auto;
}

.about_area .about_area_2 .about_area_text h1,
.about_area .about_area_3 .about_area_text h1 {
  color: var(--font1);
  margin-bottom: 1.5rem;
}

.about_area .about_area_2 .about_area_text h1 img,
.about_area .about_area_3 .about_area_text h1 img {
  height: 4.5rem;
  margin-right: 0.5rem;
  vertical-align: sub;
}

.about_area .about_area_2 .about_area_text p,
.about_area .about_area_3 .about_area_text p {
  line-height: 1.5;
}

.about_area .about_area_2 .about_area_text button,
.about_area .about_area_3 .about_area_text button {
  position: relative;
  top: 2rem;
  left: 65%;
}

.product_area {
  text-align: center;
}

.product_area .product_area_bigimg {
  height: 518px;
  background: url("./../img/商品服務大圖.jpg") no-repeat 50% 50%/cover;
  margin-bottom: 17rem;
}

.product_area .product_area_bigimg .product_area_icon {
  position: relative;
  top: 25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.product_area .product_area_bigimg .product_area_icon p {
  font-size: 2rem;
  color: var(--font1);
  font-weight: 600;
  margin-bottom: 1rem;
}

.product_area .product_list {
  margin: auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product_area .product_list .product {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: var(--font1);
}

.product_area .product_list .product img {
  width: 100%;
}

.product_area .product_list .product p {
  margin: 1.5rem 0 2rem 0;
}

.product_area button {
  margin-top: 2rem;
}

.QA {
  margin-top: 4rem;
  height: 1157px;
  background-image: url("./../img/buttomImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--grey);
  font-weight: 600;
  text-align: center;
  font-size: 3rem;
}

.QA .QAimg {
  margin-bottom: 2rem;
}

.QA .QAimg p {
  margin-bottom: 2rem;
}

.QA .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--font1);
  font-size: 1.5rem;
  height: 50%;
  margin-bottom: 2rem;
}

.QA .question .QAbox {
  text-align: start;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  position: relative;
}

.QA .question .QAbox p {
  margin: 0;
  line-height: 2.5rem;
}

.QA .question .QAbox i {
  position: absolute;
  right: 2rem;
  font-size: 2rem;
}

footer.footer_ .contact_area {
  margin: 0.8rem auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--font1);
}

footer.footer_ .contact_area .logo_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 16rem;
}

footer.footer_ .contact_area .logo_ img {
  height: 7rem;
  width: 7rem;
}

footer.footer_ .contact_area .logo_ .icon_area {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
}

footer.footer_ .contact_area .logo_ .icon_area p {
  margin: 0;
}

footer.footer_ .contact_area .logo_ .icon_area p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 600;
}

footer.footer_ .contact_area .logo_ .icon_area p:nth-child(2) {
  font-size: 0.5rem;
}

footer.footer_ .contact_area .logo_ .icon_area p:nth-child(3) {
  font-size: 1.5rem;
}

footer.footer_ .contact_area .logo_ .icon_area p:nth-child(3) i {
  cursor: pointer;
}

footer.footer_ .contact_area .contact_infor p {
  margin: 0;
}

footer.footer_ .maker_ {
  text-align: center;
  background-color: var(--font1);
  border-top: var(--line) 10px solid;
  color: #ffffff;
  line-height: 28px;
  padding: 5px 0;
}

footer.footer_ .maker_ p {
  margin: 0;
}

@media screen and (max-width: 991px) {
  .about_area .about_area_1,
  .about_area .about_area_2,
  .about_area .about_area_3,
  .about_area .about_area_4 {
    width: 100%;
  }
  .product_list .product {
    min-width: 44%;
  }
  .product_list .product img {
    min-width: 220px;
  }
}

@media screen and (max-width: 1050px) {
  header.header_ .navbar_ .links a {
    margin: 0 0.5rem;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1549px) {
  footer.footer_ .contact_area {
    width: 75%;
  }
}

@media screen and (min-width: 1550px) {
  footer.footer_ .contact_area {
    width: 60%;
  }
}
/*# sourceMappingURL=index.css.map */