@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --line: #b39f61;
  --font1: #5e1f28;
  --link-hover: #dcce84;
  --black: #000000;
  --grey: #ececec;
  --divcolor: #707070;
  --btn: rgba(255, 255, 255, 0.7);
}

img {
  image-rendering: -moz-crisp-edges;
  /* Firefox        */
  image-rendering: -o-crisp-edges;
  /* Opera          */
  image-rendering: -webkit-optimize-contrast;
  /* Safari         */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+           */
}

button.readbtn {
  height: 3.2rem;
  width: 12rem;
  border: var(--font1) solid 1px;
  border-radius: 8px;
  color: var(--font1);
  font-size: 24px;
  background-color: var(--btn);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

button.readbtn:hover {
  color: white;
  background-color: var(--font1);
}

button.goback {
  display: block;
  border: var(--font1) solid 1px;
  border-radius: 8px;
  height: 3rem;
  width: 9rem;
  color: var(--font1);
  font-size: 1.5rem;
  background-color: var(--btn);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
  margin: 2rem auto;
}

button.goback:hover {
  color: white;
  background-color: var(--font1);
}

@media screen and (max-width: 767px) {
  button.goback {
    height: 2.4rem;
    width: 8rem;
    font-size: 18px;
  }
  button.readbtn {
    height: 2.4rem;
    width: 8rem;
    border: var(--font1) solid 1px;
    border-radius: 6px;
    color: var(--font1);
    font-size: 18px;
  }
}

header.header_ {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  color: var(--font1);
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.3);
}

header.header_ #toptop {
  height: 2rem;
  background-color: var(--font1);
  border-bottom: var(--line) solid 8px;
}

header.header_ .navbar_ {
  width: 92%;
  margin: auto;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.header_ .navbar_ .logo {
  width: 15rem;
}

header.header_ .navbar_ .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

header.header_ .navbar_ .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.4rem;
  font-weight: 400;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 0.8rem;
}

header.header_ .navbar_ .links a {
  padding: 0 1.5rem;
  color: var(--font1);
  text-decoration: none;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  position: relative;
}

header.header_ .navbar_ .links a:link {
  color: var(--font1);
  text-decoration: none;
}

header.header_ .navbar_ .links a:visited {
  color: var(--font1);
}

header.header_ .navbar_ .links a:hover {
  color: var(--link-hover);
}

header.header_ .navbar_ .links a::before {
  content: "";
  background-color: var(--line);
  width: 1px;
  height: 0;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -3.8rem);
          transform: translate(-50%, -3.8rem);
}

header.header_ .navbar_ .links a::after {
  content: "";
  background-color: var(--line);
  border-radius: 50%;
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  display: block;
  left: 50%;
  -webkit-transform: translate(-50%, -2.6rem);
          transform: translate(-50%, -2.6rem);
}

header.header_ .navbar_ .links a:hover::before {
  -webkit-transition: all 0.17s linear;
  transition: all 0.17s linear;
  height: 3rem;
}

header.header_ .navbar_ .links a:hover::after {
  width: 0.4rem;
  height: 0.4rem;
  -webkit-transition: all 0.05s linear 0.2s;
  transition: all 0.05s linear 0.2s;
}

header.header_ .navbar_ .community {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 0.8rem;
}

header.header_ .navbar_ .community i {
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

header.header_ .navbar_ .community i:hover {
  color: var(--link-hover);
}

header.header_ .navbar_ .community i:not(:first-child) {
  margin-left: 0.7rem;
}

header.header_ .navbar_ .burger {
  margin: auto 0;
  font-size: 2rem;
  height: 3rem;
  display: none;
  background-color: white;
  border: var(--font1) solid 1px;
  color: var(--font1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

header.header_ .navbar_ .burger i {
  display: block;
  margin: auto;
}

header.header_ .navbar_ .burger:hover {
  background-color: var(--font1);
  color: white;
}

@media screen and (max-width: 1550px) {
  header.header_ .navbar_ .links a {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1500px) {
  header.header_ .navbar_ .links {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1320px) {
  header.header_ .navbar_ .logo {
    width: 12rem;
  }
  header.header_ .navbar_ .links {
    padding-bottom: 0.5rem;
  }
  header.header_ .navbar_ .links a {
    padding: 0 0.6rem;
  }
  header.header_ .navbar_ .links a::before {
    -webkit-transform: translate(-50%, -3rem);
            transform: translate(-50%, -3rem);
  }
  header.header_ .navbar_ .links a:hover::before {
    height: 2.2rem;
  }
  header.header_ .navbar_ .links a::after {
    -webkit-transform: translate(-50%, -2.3rem);
            transform: translate(-50%, -2.3rem);
  }
  header.header_ .navbar_ .community {
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1150px) {
  header.header_ .navbar_ {
    width: 98%;
  }
  header.header_ .navbar_ .links {
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }
  header.header_ .navbar_ .community {
    font-size: 1.6rem;
  }
  header.header_ .navbar_ .community i:not(:first-child) {
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 991px) {
  header.header_ .navbar_ {
    width: 90%;
  }
  header.header_ .navbar_ .links,
  header.header_ .navbar_ .community {
    display: none;
  }
  header.header_ .navbar_ .burger {
    display: block;
  }
}

.offcanvas.offcanvas-end {
  width: 300px;
}

.burger_nav .close_ {
  position: absolute;
  top: 30px;
  left: -60px;
  border-radius: 50%;
  background-color: white;
  color: var(--font1);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  height: 2rem;
  width: 2rem;
  border: var(--font1) solid 1px;
  border: none;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background-color 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
  transition: background-color 0.1s ease, box-shadow 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
}

.burger_nav .close_ i {
  display: block;
  margin: auto;
}

.burger_nav .close_:hover {
  background-color: var(--link-hover);
  background-color: var(--font1);
  color: white;
  -webkit-box-shadow: 0 0 0.2rem white;
          box-shadow: 0 0 0.2rem white;
}

.burger_nav .offcanvas-body .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

.burger_nav .offcanvas-body .links a {
  color: var(--font1);
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
  margin: 0.5rem 0;
  height: 2rem;
}

.burger_nav .offcanvas-body .links a:link {
  color: var(--font1);
  text-decoration: none;
}

.burger_nav .offcanvas-body .links a:visited {
  color: var(--font1);
}

.burger_nav .offcanvas-body .links a:hover {
  color: var(--link-hover);
  border-bottom: var(--link-hover) solid 4px;
}

.burger_nav .offcanvas-body .community {
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0 0 1.5rem;
  color: var(--font1);
}

.burger_nav .offcanvas-body .community i {
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.burger_nav .offcanvas-body .community i:hover {
  color: var(--link-hover);
}

.burger_nav .offcanvas-body .community i:not(:first-child) {
  margin-left: 0.8rem;
}

@media screen and (max-width: 575px) {
  .offcanvas.offcanvas-end {
    width: 50%;
  }
}

.carousell_area {
  position: relative;
  overflow-x: hidden;
}

.carousell_area .carousell_area_text {
  position: absolute;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  z-index: 1;
  top: 30rem;
  left: 4%;
}

.carousell_area .carousell_area_text p {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.carousell_area .carousell_area_text p:nth-child(2) {
  font-size: 1.8rem;
  font-weight: normal;
}

.carousell_area .carousell_area_text button {
  margin-top: 0.5rem;
}

.carousell_area .carousell_area_img {
  padding-bottom: 3rem;
}

.carousell_area .carousell_area_img .imgg img {
  height: 726px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.carousell_area .carousell_area_img ul.slick-dots li {
  margin: 0 1rem;
}

.carousell_area .carousell_area_img ul.slick-dots li button:before {
  font-size: 30px;
}

.about_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem 0 4rem;
}

.about_area .about_area_1,
.about_area .about_area_2,
.about_area .about_area_3,
.about_area .about_area_4 {
  width: 50%;
  height: 539px;
}

.about_area .about_area_1 {
  background: url("./../img/welcome/about_pillow.jpg") no-repeat center/cover;
}

.about_area .about_area_4 {
  background: url("./../img/welcome/about_room.jpg") no-repeat center/cover;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about_area .about_area_3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about_area .about_area_2,
.about_area .about_area_3 {
  background-color: var(--grey);
}

.about_area .about_area_2 .about_area_text,
.about_area .about_area_3 .about_area_text {
  font-size: 1.5rem;
  width: 60%;
  height: 60%;
  margin: 10% auto;
}

.about_area .about_area_2 .about_area_text h1,
.about_area .about_area_3 .about_area_text h1 {
  color: var(--font1);
  margin-bottom: 1.5rem;
}

.about_area .about_area_2 .about_area_text h1 img,
.about_area .about_area_3 .about_area_text h1 img {
  height: 4.5rem;
  margin-right: 0.5rem;
  vertical-align: sub;
}

.about_area .about_area_2 .about_area_text p,
.about_area .about_area_3 .about_area_text p {
  line-height: 1.5;
}

.about_area .about_area_2 .about_area_text button,
.about_area .about_area_3 .about_area_text button {
  float: right;
  position: relative;
  top: 2rem;
}

@media screen and (max-width: 991px) {
  .about_area .about_area_1,
  .about_area .about_area_2,
  .about_area .about_area_3,
  .about_area .about_area_4 {
    width: 100%;
  }
  .about_area .about_area_4 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about_area .about_area_3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 575px) {
  .about_area {
    margin: 2rem 0;
  }
  .about_area .about_area_2 .about_area_text,
  .about_area .about_area_3 .about_area_text {
    font-size: 1.5rem;
  }
  .about_area .about_area_2 .about_area_text h1,
  .about_area .about_area_3 .about_area_text h1 {
    margin-bottom: 1.5rem;
  }
  .about_area .about_area_2 .about_area_text h1 img,
  .about_area .about_area_3 .about_area_text h1 img {
    height: 3.5rem;
    margin-right: 0.5rem;
    vertical-align: sub;
  }
  .about_area .about_area_2 .about_area_text p,
  .about_area .about_area_3 .about_area_text p {
    line-height: 1.2;
  }
  .about_area .about_area_2 .about_area_text button,
  .about_area .about_area_3 .about_area_text button {
    float: right;
    position: relative;
    top: 1rem;
  }
}

.product_area {
  text-align: center;
}

.product_area .product_area_bigimg {
  height: 518px;
  background: url("./../img/welcome/product_bigimg.jpg") no-repeat center/cover;
  margin-bottom: 17rem;
}

.product_area .product_area_bigimg .product_area_icon {
  position: relative;
  top: 25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.product_area .product_area_bigimg .product_area_icon p {
  font-size: 2rem;
  color: var(--font1);
  font-weight: 600;
  margin-bottom: 1rem;
}

.product_area .product_list .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: var(--font1);
  padding: 1rem;
}

.product_area .product_list .product img {
  width: 100%;
}

.product_area .product_list .product p {
  margin: 1.5rem 0;
}

.product_area #hahah {
  margin-top: 2rem;
  padding: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
}

.product_area #hahah button.slick-prev:before {
  content: url("./../welcome/img/arrow.png");
  display: block;
  rotate: 270deg;
  -webkit-transform: rotate(90deg) translate(-2%, 50%);
          transform: rotate(90deg) translate(-2%, 50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.product_area #hahah button.slick-next:before {
  content: url("./../welcome/img/arrow.png");
  display: block;
  rotate: 270deg;
  -webkit-transform: rotate(270deg) translate(3%, -50%);
          transform: rotate(270deg) translate(3%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 991px) {
  .product_area .product_area_bigimg {
    height: 350px;
    margin-bottom: 14rem;
  }
  .product_area .product_area_bigimg .product_area_icon {
    top: 17rem;
  }
  .product_area .product_area_bigimg .product_area_icon img {
    width: 10rem;
  }
  .product_area .product_area_bigimg .product_area_icon img:nth-of-type(2) {
    width: 6rem;
  }
  .product_area .product_area_bigimg .product_area_icon p {
    font-size: 1.5rem;
  }
}

.QA {
  position: relative;
  background: url("./../img/welcome/buttomImg.jpg") no-repeat center/cover;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 4rem 0;
  text-align: center;
  color: var(--font1);
}

.QA .QAimg p {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  margin-bottom: 2rem;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.QA .question {
  width: 100%;
}

.QA .question .QAbox {
  margin: 1rem auto;
  width: 70%;
  background-color: var(--btn);
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  border: #707070 solid 1px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  margin-bottom: 1rem;
}

.QA .question .QAbox .Q,
.QA .question .QAbox .A {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  line-height: 2rem;
}

.QA .question .QAbox .Q span:first-child,
.QA .question .QAbox .A span:first-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 0.3rem;
  font-size: 2rem;
  text-align: start;
  width: 10%;
}

.QA .question .QAbox .Q :nth-child(2),
.QA .question .QAbox .A :nth-child(2) {
  text-align: start;
  width: 80%;
}

.QA .question .QAbox .Q :nth-child(3),
.QA .question .QAbox .A :nth-child(3) {
  width: 10%;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.QA .question .QAbox .A span {
  display: none;
}

.QA .question .QAbox hr {
  margin: 0.5rem 0;
  display: none;
}

.QA .question .QAbox.active .Q :nth-child(3) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.QA .question .QAbox.active .A span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.QA .question .QAbox.active hr {
  display: block;
}

.QA > * {
  position: relative;
  z-index: 1;
}

.QA:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .QA .question .QAbox {
    width: 80%;
  }
  .QA .question .QAbox .Q,
  .QA .question .QAbox .A {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .QA .question .QAbox .Q span:first-child,
  .QA .question .QAbox .A span:first-child {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  .QA .QAimg p {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .QA .QAimg img {
    height: 4rem;
  }
  .QA .question .QAbox {
    width: 90%;
  }
  .QA .question .QAbox .Q,
  .QA .question .QAbox .A {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .QA .question .QAbox .Q span:first-child,
  .QA .question .QAbox .A span:first-child {
    padding-left: 0;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 575px) {
  .QA .question .QAbox {
    width: 95%;
  }
}

footer.footer_ .contact_area {
  margin: 0.8rem auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--font1);
}

footer.footer_ .contact_area .logo_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 16rem;
}

footer.footer_ .contact_area .logo_ img {
  height: 6rem;
  width: 6rem;
}

footer.footer_ .contact_area .logo_ .icon_area {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  white-space: nowrap;
}

footer.footer_ .contact_area .logo_ .icon_area p {
  margin: 0;
}

footer.footer_ .contact_area .logo_ .icon_area p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 600;
}

footer.footer_ .contact_area .logo_ .icon_area p:nth-child(2) {
  font-size: 0.5rem;
}

footer.footer_ .contact_area .logo_ .icon_area p:nth-child(3) {
  font-size: 1.5rem;
}

footer.footer_ .contact_area .logo_ .icon_area p:nth-child(3) i {
  cursor: pointer;
}

footer.footer_ .contact_area .contact_infor p {
  margin: 0;
}

footer.footer_ .maker_ {
  text-align: center;
  background-color: var(--font1);
  border-top: var(--line) solid 8px;
  color: #ffffff;
  line-height: 1.6rem;
  padding: 0.3rem 0;
}

@media screen and (min-width: 1550px) {
  footer.footer_ .contact_area {
    width: 60%;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1549px) {
  footer.footer_ .contact_area {
    width: 75%;
  }
}

@media screen and (max-width: 940px) {
  footer.footer_ .contact_area {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer.footer_ .contact_area .logo_ {
    margin-bottom: 1rem;
  }
  footer.footer_ .contact_area .contact_infor {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 575px) {
  footer.footer_ .maker_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.to-top {
  background: white;
  position: fixed;
  z-index: 10;
  bottom: 220px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  color: var(--font1);
  border: var(--font1) solid 1px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  animation: floatt 2s infinite alternate-reverse ease-in-out;
}

.to-top.active:hover {
  color: var(--font1);
}

.to-top.active {
  bottom: 190px;
  pointer-events: auto;
  opacity: 1;
}

@-webkit-keyframes floatt {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@keyframes floatt {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@media screen and (max-width: 767px) {
  .to-top {
    width: 45px;
    height: 45px;
    font-size: 1.1rem;
  }
  .to-top.active {
    bottom: 150px;
  }
}

@media screen and (max-width: 575px) {
  .to-top {
    width: 38px;
    height: 38px;
    right: 30px;
    font-size: 1rem;
  }
  .to-top.active {
    bottom: 90px;
  }
}

#overlay {
  z-index: 4;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#overlay.acctive {
  opacity: 1;
  pointer-events: all;
}

#lightbox {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  border: 1px solid black;
  z-index: 5;
  background-color: white;
  /* 不設背景顏色會被fixed顏色穿透? */
}

#lightbox img {
  opacity: 0;
}

#lightbox.acctive {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  opacity: 1;
  /* transform記得全部都要再次設置，否則全部果將不會保留 */
}

#lightbox.acctive img {
  opacity: 1;
}

@-webkit-keyframes hello {
  0% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    opacity: 0.7;
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    opacity: 0.7;
  }
}

@keyframes hello {
  0% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    opacity: 0.7;
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  95% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
    opacity: 0.7;
  }
}

.page_about_topimg {
  position: relative;
  background: url("../img/about/about_topimg.jpg") no-repeat center/cover;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_about_topimg h1 {
  color: white;
  font-size: 49px;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding-bottom: 1rem;
}

@media screen and (max-width: 991px) {
  .page_about_topimg {
    height: 180px;
  }
}

.page_about_topimg > * {
  position: relative;
  z-index: 1;
}

.page_about_topimg:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.page_about_title {
  padding-top: 2rem;
}

.page_about_title h1 {
  color: var(--font1);
  margin: 0;
}

.page_about_title h1 img {
  margin-right: 1rem;
  height: 3rem;
}

.about_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6em;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.about_wrap .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  height: 400px;
}

.about_wrap .row .pic,
.about_wrap .row .text {
  padding: 0;
  height: 100%;
}

.about_wrap .row .pic {
  width: 40%;
}

.about_wrap .row .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about_wrap .row .text {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
  height: calc(100% - 2rem);
  width: 60%;
  overflow-y: scroll;
}

.about_wrap .row .text p {
  margin: 0;
}

.about_wrap .row:nth-child(even) .pic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.about_wrap .row:nth-child(even) .text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 1rem 0 0;
}

@media screen and (max-width: 991px) {
  .about_wrap {
    font-size: 1.3em;
    line-height: 1.7rem;
  }
  .about_wrap .row {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 1rem;
  }
  .about_wrap .row .pic {
    width: 100%;
    height: 50vh;
  }
  .about_wrap .row .text {
    margin: 1rem 0 0 0;
    padding: 0;
    height: auto;
    width: 100%;
    overflow-y: initial;
  }
  .about_wrap .row:nth-child(even) .pic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about_wrap .row:nth-child(even) .text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
  .about_wrap .row:nth-child(even) .text p {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .about_wrap .row .text {
    min-height: 15rem;
  }
}

.htmledit {
  font-size: 1.6em;
  line-height: 2rem;
}

.htmledit img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 991px) {
  .htmledit {
    font-size: 1.3em;
    line-height: 1.7rem;
    padding: 1rem;
    width: 100%;
  }
}

.page_service_topimg {
  position: relative;
  background: url("../img/service/service_topimg.jpg") no-repeat center/cover;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_service_topimg h1 {
  color: white;
  font-size: 49px;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding-bottom: 1rem;
}

.page_service_topimg > * {
  position: relative;
  z-index: 1;
}

.page_service_topimg:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .page_service_topimg {
    height: 180px;
  }
}

.page_service_title {
  padding: 2rem 0;
  color: var(--font1);
}

.page_service_title h1 {
  color: var(--font1);
}

.page_service_title h1 img {
  margin-right: 1rem;
  height: 4rem;
  vertical-align: baseline;
}

.page_service_item {
  margin: 0 auto 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--grey);
}

.page_service_item img {
  padding: 1rem;
}

.page_service_item div {
  padding: 2rem 1.5rem;
}

.page_service_item button {
  float: right;
  position: relative;
  top: 1rem;
}

@media screen and (max-width: 767px) {
  .page_service_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page_service_item div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page_service_item button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.page_service_product {
  font-size: 1.6em;
  line-height: 2rem;
}

.page_service_product img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .page_service_product {
    font-size: 1.2em;
    line-height: 1.5rem;
  }
}

.page_product_topimg {
  position: relative;
  background: url("../img/product/product_topimg.jpg") no-repeat center/cover;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_product_topimg h1 {
  color: white;
  font-size: 49px;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding-bottom: 0.5rem;
}

.page_product_topimg > * {
  position: relative;
  z-index: 1;
}

.page_product_topimg:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .page_product_topimg {
    height: 180px;
  }
}

.page_product_area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.page_product_area .page_product_types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.page_product_area .page_product_types .nav-item {
  margin: 0 1rem;
}

.page_product_area .page_product_types .nav-item .nav-link {
  text-align: center;
  background-color: var(--btn);
  border: var(--font1) solid 1px;
  color: var(--font1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 0.5rem;
}

.page_product_area .page_product_types .nav-item .nav-link.active {
  color: white;
  background-color: var(--font1);
}

.page_product_area .tab-content {
  width: 90%;
  margin-top: 2rem;
}

.page_product_area .tab-content .items_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.page_product_area .tab-content .items_list .items {
  width: 33.33%;
  text-align: center;
}

.page_product_area .tab-content .items_list .items img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page_product_area .tab-content .items_list .items h3 {
  margin: 1rem 0;
}

@media screen and (max-width: 1400px) {
  .page_product_area .tab-content .items_list .items {
    width: 33.33%;
  }
  .page_product_area .tab-content .items_list .items img {
    width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .page_product_area .tab-content .items_list .items {
    width: 50%;
  }
  .page_product_area .tab-content .items_list .items img {
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .page_product_area .page_product_types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: aqua;
  }
  .page_product_area .page_product_types .nav-item {
    text-align: center;
    width: 60%;
  }
  .page_product_area .page_product_types .nav-item a.nav-link {
    margin: 0;
  }
  .page_product_area .tab-content .items_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page_product_area .tab-content .items_list .items {
    width: 80%;
  }
}

@media screen and (max-width: 575px) {
  .page_product_area .page_product_types .nav-item {
    width: 80%;
  }
  .page_product_area .tab-content .items_list .items {
    width: 100%;
  }
}

.page_case_topimg {
  position: relative;
  background: url("../img/case/case_topimg.jpg") no-repeat center/cover;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_case_topimg h1 {
  color: white;
  font-size: 49px;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding-bottom: 1rem;
}

.page_case_topimg > * {
  position: relative;
  z-index: 1;
}

.page_case_topimg:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .page_case_topimg {
    height: 180px;
  }
}

h1.page_case_title {
  text-align: center;
  color: var(--font1);
  margin: 0;
  font-weight: bolder;
  margin-top: 2rem;
}

h1 + img {
  display: block;
  margin: auto;
  height: 4rem;
  margin-bottom: 2rem;
}

.page_case_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.page_case_items .page_case_outbox {
  padding: 0.5rem;
  width: 33.33%;
}

.page_case_items .page_case_outbox .page_case_item {
  position: relative;
  height: 35rem;
  padding: 0.5rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: var(--font1);
  border: var(--font1) solid 1px;
}

.page_case_items .page_case_outbox .page_case_item img {
  width: 100%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page_case_items .page_case_outbox .page_case_item h4 {
  font-weight: 600;
  padding: 1rem;
  margin: 0;
}

.page_case_items .page_case_outbox .page_case_item p {
  height: 33%;
  overflow-x: scroll;
  padding: 0 1rem;
  margin: 0;
  line-height: 1.8rem;
}

.page_case_items .page_case_outbox button {
  position: absolute;
  bottom: 1.5rem;
  min-height: 3.2rem;
  min-width: 12rem;
}

@media screen and (max-width: 1199px) {
  .page_case_items .page_case_outbox .page_case_item {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 991px) {
  .page_case_items .page_case_outbox {
    width: 50%;
  }
  .page_case_items .page_case_outbox .page_case_item {
    height: 35rem;
  }
}

@media screen and (max-width: 767px) {
  .page_case_items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page_case_items .page_case_outbox {
    width: 50%;
  }
  .page_case_items .page_case_outbox .page_case_item {
    height: 35rem;
    font-size: 1rem;
  }
  .page_case_items .page_case_outbox .page_case_item p {
    height: 45%;
  }
  .page_case_items .page_case_outbox .page_case_item img {
    height: 30%;
  }
  .page_case_items .page_case_outbox button {
    min-height: 2.4rem;
    min-width: 8rem;
  }
}

@media screen and (max-width: 575px) {
  .page_case_items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page_case_items .page_case_outbox {
    width: 100%;
  }
  .page_case_items .page_case_outbox .page_case_item {
    height: auto;
    font-size: 1rem;
  }
  .page_case_items .page_case_outbox .page_case_item p {
    height: auto;
  }
  .page_case_items .page_case_outbox .page_case_item button {
    position: initial;
    margin-top: 1rem;
  }
}

.page_case_contant_title {
  margin: 3rem 0;
  padding-bottom: 0.5rem;
  border-bottom: var(--font1) solid 1px;
  color: var(--font1);
}

.page_case_contant_title img {
  height: 4rem;
  vertical-align: baseline;
}

.page_case_contant {
  color: var(--font1);
}

.page_case_contant h3 {
  text-align: center;
  margin: 1.5rem 0;
}

.page_case_contant p {
  font-size: 1.4rem;
  padding: 0 0.5rem;
}

.page_case_contant .page_case_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.page_case_contant .page_case_carousel .page_case_carousel_big {
  width: 70%;
  padding-right: 1rem;
}

.page_case_contant .page_case_carousel .page_case_carousel_big img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page_case_contant .page_case_carousel .page_case_carousel_small {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_case_contant .page_case_carousel .page_case_carousel_small img {
  height: 32%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.page_case_contant .page_case_carousel .page_case_carousel_small img:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.page_case_contant .page_case_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page_case_contant .page_case_imgs img {
  padding: 1rem 0.5rem;
  width: calc(100% / 3);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 991px) {
  .page_case_contant .page_case_carousel {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page_case_contant .page_case_carousel .page_case_carousel_big {
    padding: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
  .page_case_contant .page_case_carousel .page_case_carousel_small {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 8rem;
  }
  .page_case_contant .page_case_carousel .page_case_carousel_small img {
    height: 100%;
    width: 31%;
  }
  .page_case_contant .page_case_imgs img {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .page_case_contant .page_case_imgs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page_case_contant .page_case_imgs img {
    width: 80%;
  }
}

@media screen and (max-width: 575px) {
  .page_case_contant .page_case_imgs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page_case_contant .page_case_imgs img {
    width: 100%;
  }
}

.page_qa_topimg {
  position: relative;
  background: url("../img/QA/qa_topimg.jpg") no-repeat center/cover;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_qa_topimg h1 {
  color: white;
  font-size: 49px;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding-bottom: 1rem;
}

.page_qa_topimg > * {
  position: relative;
  z-index: 1;
}

.page_qa_topimg:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .page_qa_topimg {
    height: 180px;
  }
}

.page_qa {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: var(--font1);
  padding: 3rem 0;
}

.page_qa .qaimg p {
  font-size: 2rem;
  font-weight: 600;
}

.page_qa .qaimg img {
  height: 4rem;
}

.page_qa .question {
  width: 100%;
}

.page_qa .question .qabox {
  margin: 1rem auto;
  width: 70%;
  background-color: var(--btn);
  border-radius: 5px;
  border: #707070 solid 1px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  margin-bottom: 1rem;
}

.page_qa .question .qabox .Q,
.page_qa .question .qabox .A {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  line-height: 2rem;
}

.page_qa .question .qabox .Q span:first-child,
.page_qa .question .qabox .A span:first-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 0.3rem;
  font-size: 2rem;
  text-align: start;
  width: 15%;
}

.page_qa .question .qabox .Q :nth-child(2),
.page_qa .question .qabox .A :nth-child(2) {
  text-align: start;
  width: 75%;
}

.page_qa .question .qabox .Q :nth-child(3),
.page_qa .question .qabox .A :nth-child(3) {
  font-size: 3rem;
  width: 10%;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.page_qa .question .qabox .A span {
  display: none;
}

.page_qa .question .qabox hr {
  margin: 0.5rem 0;
  display: none;
}

.page_qa .question .qabox.active .Q :nth-child(3) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page_qa .question .qabox.active .A span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.page_qa .question .qabox.active hr {
  display: block;
}

@media screen and (max-width: 991px) {
  .page_qa .question .qabox {
    width: 80%;
  }
  .page_qa .question .qabox .Q,
  .page_qa .question .qabox .A {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .page_qa .question .qabox .Q span:first-child,
  .page_qa .question .qabox .A span:first-child {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 767px) {
  .page_qa .qaimg p {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .page_qa .qaimg img {
    height: 4rem;
  }
  .page_qa .question .qabox {
    width: 90%;
  }
  .page_qa .question .qabox .Q,
  .page_qa .question .qabox .A {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .page_qa .question .qabox .Q span:first-child,
  .page_qa .question .qabox .A span:first-child {
    padding-left: 0;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 575px) {
  .page_qa .question .qabox {
    width: 95%;
  }
}

.page_place_topimg {
  position: relative;
  background: url("../img/place/place_topimg.jpg") no-repeat center/cover;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_place_topimg h1 {
  color: white;
  font-size: 49px;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding-bottom: 1rem;
}

.page_place_topimg > * {
  position: relative;
  z-index: 1;
}

.page_place_topimg:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .page_place_topimg {
    height: 180px;
  }
}

.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.4rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--font1);
}

.places .frt_place,
.places .sec_place {
  border: var(--font1) solid 1px;
  border-radius: 8px;
  margin: 1rem;
  width: 40%;
  padding: 1rem;
}

.places .frt_place h2,
.places .sec_place h2 {
  text-align: center;
  font-weight: bolder;
}

.places .frt_place hr,
.places .sec_place hr {
  background-color: var(--font1);
  height: 1px;
  border: none;
}

.places .frt_place div,
.places .sec_place div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.places .frt_place p,
.places .frt_place i,
.places .sec_place p,
.places .sec_place i {
  font-size: 1.3rem;
  padding-left: 1.5rem;
  line-height: 1.8rem;
}

.places .frt_place p,
.places .sec_place p {
  position: relative;
  top: 0.5rem;
}

@media screen and (max-width: 991px) {
  .places {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .places .frt_place,
  .places .sec_place {
    width: 80%;
  }
}

@media screen and (max-width: 575px) {
  .places .frt_place div,
  .places .sec_place div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 0.5rem;
  }
  .places .frt_place i,
  .places .sec_place i {
    padding: 0;
  }
  .places .frt_place p,
  .places .sec_place p {
    position: static;
    margin: 0;
    padding: 0 2rem;
  }
}

.page_contract_topimg {
  position: relative;
  background: url("../img/contract/contract-topimg.jpg") no-repeat center/cover;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_contract_topimg h1 {
  color: white;
  font-size: 49px;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding-bottom: 1rem;
}

.page_contract_topimg > * {
  position: relative;
  z-index: 1;
}

.page_contract_topimg:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .page_contract_topimg {
    height: 180px;
  }
}

.contract {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--font1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contract > p {
  font-size: 1.4rem;
  margin: 2.5rem 0;
  line-height: 1.8rem;
}

.contract .form_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contract .form_box .form_input,
.contract .form_box .form_img {
  border-radius: 8px;
  width: 40%;
  max-width: 25rem;
  height: 30rem;
}

.contract .form_box .form_img {
  margin-right: 1rem;
  background: url("../img/contract/contract-left.jpg") no-repeat center/cover;
}

.contract .form_box .form_input {
  margin-left: 1rem;
}

.contract .form_box .form_input form {
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contract .form_box .form_input form p {
  margin: 0;
  font-size: 1.2rem;
  padding: 0.4rem 0;
}

.contract .form_box .form_input form textarea,
.contract .form_box .form_input form input {
  border: var(--divcolor) solid 1px;
  border-radius: 5px;
  color: var(--font1);
}

.contract .form_box .form_input form input {
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 0 0.5rem;
}

.contract .form_box .form_input form textarea {
  line-height: 1.8rem;
  font-size: 1.3rem;
  padding: 0.5rem;
  resize: none;
}

.contract .not_robot {
  background: url("../img/contract/not_robot.jpg") no-repeat center/cover;
  width: 20rem;
  height: 5rem;
  margin-top: 2.5rem;
}

@media screen and (max-width: 991px) {
  .contract .form_box .form_input,
  .contract .form_box .form_img {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .contract > p {
    width: 80%;
  }
  .contract .form_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contract .form_box .form_input,
  .contract .form_box .form_img {
    margin: 0;
    width: 80%;
    max-width: 80%;
  }
  .contract .form_box .form_img {
    height: 15rem;
  }
}
