.page_place_topimg {
  position: relative;
  background: url("../img/place/place_topimg.jpg") no-repeat center/cover;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_place_topimg h1 {
  color: white;
  font-size: 49px;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding-bottom: 1rem;
}

.page_place_topimg > * {
  position: relative;
  z-index: 1;
}

.page_place_topimg:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.4rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--font1);
}

.places .frt_place,
.places .sec_place {
  border: var(--font1) solid 1px;
  border-radius: 8px;
  margin: 1rem;
  width: 40%;
  padding: 1rem;
}

.places .frt_place h2,
.places .sec_place h2 {
  text-align: center;
  font-weight: bolder;
}

.places .frt_place hr,
.places .sec_place hr {
  background-color: var(--font1);
  height: 1px;
  border: none;
}

.places .frt_place div,
.places .sec_place div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.places .frt_place p,
.places .frt_place i,
.places .sec_place p,
.places .sec_place i {
  font-size: 1.3rem;
  padding-left: 1.5rem;
  line-height: 1.8rem;
}

.places .frt_place p,
.places .sec_place p {
  position: relative;
  top: 0.5rem;
}

@media screen and (max-width: 991px) {
  .page_place_topimg {
    height: 180px;
  }
  .places {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .places .frt_place,
  .places .sec_place {
    width: 80%;
  }
}

@media screen and (max-width: 575px) {
  .places .frt_place div,
  .places .sec_place div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .places .frt_place i,
  .places .sec_place i {
    padding: 0;
  }
  .places .frt_place p,
  .places .sec_place p {
    position: static;
    margin: 0;
    padding: 0;
  }
}
