.page_product_topimg {
  position: relative;
  background: url("../img/product/product_topimg.jpg") no-repeat center/cover;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page_product_topimg h1 {
  color: white;
  font-size: 49px;
  text-shadow: 0.1em 0.1em 0.2em black;
  padding-bottom: 0.5rem;
}

.page_product_topimg > * {
  position: relative;
  z-index: 1;
}

.page_product_topimg:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .page_product_topimg {
    height: 180px;
  }
}

.page_product_area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.page_product_area .page_product_types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.page_product_area .page_product_types .nav-item {
  margin: 0 1rem;
}

.page_product_area .page_product_types .nav-item .nav-link {
  text-align: center;
  background-color: var(--btn);
  border: var(--font1) solid 1px;
  color: var(--font1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 0.5rem;
}

.page_product_area .page_product_types .nav-item .nav-link.active {
  color: white;
  background-color: var(--font1);
}

.page_product_area .tab-content {
  width: 90%;
  margin-top: 2rem;
}

.page_product_area .tab-content .items_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.page_product_area .tab-content .items_list .items {
  width: 33.33%;
  text-align: center;
}

.page_product_area .tab-content .items_list .items img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page_product_area .tab-content .items_list .items h3 {
  margin: 1rem 0;
}

@media screen and (max-width: 1400px) {
  .page_product_area .tab-content .items_list .items {
    width: 33.33%;
  }
  .page_product_area .tab-content .items_list .items img {
    width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .page_product_area .tab-content .items_list .items {
    width: 50%;
  }
  .page_product_area .tab-content .items_list .items img {
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .page_product_area .page_product_types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: aqua;
  }
  .page_product_area .page_product_types .nav-item {
    text-align: center;
    width: 60%;
  }
  .page_product_area .page_product_types .nav-item a.nav-link {
    margin: 0;
  }
  .page_product_area .tab-content .items_list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page_product_area .tab-content .items_list .items {
    width: 80%;
  }
}

@media screen and (max-width: 575px) {
  .page_product_area .page_product_types .nav-item {
    width: 80%;
  }
  .page_product_area .tab-content .items_list .items {
    width: 100%;
  }
}
